/* flex 外容器屬性 */
     /* display 外容器用於宣告使用
        flex-flow                        ex flex-flow: <'flex-direction'>|| <'flex-wrap'> 
            flex-direction               flex決定內元件排序方向 預設是水平排序   row(由上往下) | row-reverse(由下往上) | column(由左至右) | column-reverse(由右至左);  
            flex-wrap                    超出範圍時是否換行的屬性   nowrap (不換行) | wrap (換行) | wrap-reverse(換行時反轉)
        justify-content                  主軸對齊 看flex-direction的方向決定順序       flex-start | flex-end | center | space-between | space-around; 
        align-items                      控制單排的flex-direction方向的起始點
        align-content                    控制多排的排列方式*/
    /* flex 內元件屬性 */
     /* flex
            flex-grow
            flex-shrink
            flex-basis
        order
        align-self */

        /* 基準軸的對齊方式 預設水平 */
        /* justify-content: center;     */
        /* 與基準軸不同的軸 對齊方式 預設垂直 */
        /* align-items:center */
        /* 基準軸的方向 columns是指垂直 row是指水平方向 */
        /* flex-direction: columns: ; */
        /* 內容過多時 宣告分行 */
        /* flex-wrap:wrap */
        /* 用到 float 與 inline-block的 部分改寫成flex */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 15px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;    
    color: #000;
}
p{
    width: 100%;
}
.bg-center{
    background-size: cover;
    background-position: center
}
.nav{
    width: 100%;
    height: 54px;
    padding: 0 8%;
    display: flex;    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    width: 137px;
    height: 54px;
    background-image: url("../img/logo.png");
    background-size: contain;
    /* no-repeat 不重複 */
    background-repeat: no-repeat;
    background-position: center;
}
.nav-list > ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-list >ul>a>li{ 
    height: 48px;
    font-size: 13px;
    list-style: none;
    margin: 1px 4px 0px 4px;
    padding: 16px 8px 10px 8px;
}
.atcions{
    margin-left: auto;    
    /* height: 54px; */
    display: flex;
}
.atcions >div> ul{
    margin: 0;
    padding: 0;
    display: flex;
    
}
.atcions > div> ul >li{ 
    height: 48px;
    font-size: 13px;
    list-style: none;
    margin: 1px 4px 0px 4px;
    padding: 16px 8px 10px 8px;
}
.search_icon{
    margin: 15px 30px 0 0;
    background-image: url(../img/search.svg);
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    /* display: none; */

}
.shopping_icon{
    margin: 15px 30px 0 0;
    background-image: url(../img/shopping-cart.png);
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    /* display: none; */
}
.user_icon{
    margin-top: 15px ;
    width: 25px;
    height: 25px;
    background-image: url(../img/user.png);
    background-size: cover;
    background-position: center;
    /* display:none ; */
}
.primaryR1{
    height: 31.1vw;
    width: 100%;    
    padding: 0 8%;
    background-position: center;
    background-size: cover;
    
}
#banner{
    background-image: url("../img/banner.jpg");    
    height: 31.1vw;
    background-position: center;
    background-size: cover;    
    display: flex;    
    align-items: flex-end;      
}
.fix{    
    position: relative;
    top:-20vw;
    width: 50%;    
    margin: 0 auto;
    display: flex;
    flex-direction: column;    
    
}
.banner-title{

    margin: auto;
    
}
.banner-title1{
    margin-top: 12px;
    margin: auto;
}
.group{
    margin: auto;
    margin-top: 12px;
    margin-bottom: 41px;
    padding: 12px 2px 0px 2px;
}
.group > a{
    background-color: black;
    padding: 10px 20px 6px 22px;
    margin-right: 24px;
    color: white;
}

.primaryR2{
    margin-top: 48px;
    width: 100%;    
    padding: 0 8%;
    display: flex;    
    flex-wrap: wrap;
}
.col3{    
    width: 21%;
    background-size: cover;
    /* background-position: center;     */
}
.picture{
    width: 100%;
}
.picture:hover{
    opacity: 0.9;
}
/* .bg-style{
    background-size: cover;
    background-position: center;
} */
.col12{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.primaryR3{
    margin-top: 48px;
    width: 100%;
    height: 31.1vw;
    padding: 0 8%;
}
#banner2{
    background-image: url("../img/banner2.jpg");
    width: 100%;
    height: 100%;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.primaryR3 .fix{
    left: -29vw;
    top:-25vw;
}
.text{
    margin-top: 48px;
    width: 100%;    
    padding: 0 8%;
}
.primaryR4{    
    width: 100%;    
    padding: 0 8%;
}
.primaryR20{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    height: 32px;
    margin-top: 48px; 
    display: flex;
    align-items: center; 
}
.primaryR20 >ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.primaryR20 >ul >li{
    list-style: none; 
    margin: 1px 4px 0px 4px;
    padding: 16px 8px 10px 8px;
}
.footer{
    margin-top: 48px;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    /* height: 324px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-style{
    width: 16%;
    padding: 36px 12px 0px 12px;
}
.footer div li{
    font-size: 13px;
}

.footer div li{
    padding: 11px 0;
}
@media(max-width:1083px){    
    .nav{        
        padding: 0 24px;   
    }    
    .primaryR1{
        height: 55vw;         
        padding-left: 0px;
        padding-right: 0px;
    }
    #banner{
        height: 55vw;
    }    
    .fix{
        top:-25vw;
        height: 50%;
    }    
    .banner-title{
        font-size: none;
    }
    .primaryR2{
        margin-top: 48px;
        width: 100%;    
        padding-left: 24px;
        padding-right: 24px;
        display: flex;    
        flex-wrap: wrap;
    }
    .col12{
        display: flex;
        flex-wrap: wrap;
    }
    .col3{
        padding: 0 12px;    
        width: 50%;
        background-size: cover;
        /* background-position: center;     */
    }   
    .primaryR3{ 
        height: 55vw;         
        padding-left: 0px;
        padding-right: 0px;        
    }
    .primaryR3 .fix{
        left: -29vw;
        top:-44vw;
    }
    #banner2{
        background-size: cover;        
    } 
}
@media(max-width:907px){
    .nav{
        justify-content: space-between;
    }
    .nav-list >ul{
        display: none;
    }
    .atcions > div >ul{
        display: none;
    }
    .search_icon{
        /* order:3; */
        order:-1;
        display: block;
    }
    .logo{
        order:3;
        margin: 0 auto;
    }
    .nav-list{
        margin-top: 15px;
        background-image: url("../img/menu.png");
        width: 44px;
        height: 30px;
        order:-1;

    }
    .atcions{
        display: none;
    }
    .shopping_icon{
        margin: unset;
        margin: 15px 20px 0 0;
        display: block;
        order:3;
    }
    .user_icon{
        display: block;
        order:5;
    }
    .footer-style{
        width: 32%;
        padding: 36px 12px 0px 12px;
    }
    

}
@media(max-width:715px)
{
    .primaryR1{
        height: calc(55vw + 49vw);
    }
    .fix{
        background-color: silver;
        width: 100%;
        position: unset;
        
    }
    .primaryR3{
        height: calc(55vw + 49vw);
    }
    .primaryR3 .flx{
        position: unset;
    }
    #banner2{
        height: 55vw;
    }

}
@media(max-width:540px){
    .col3{
        width: 100%;
    }
    .footer-style{
        width: 100%;
        padding: 36px 12px 0px 12px;
    }

}
